.container {
  width: 960px;
  margin: 0 auto;
}

h1 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 18px;
  text-align: center;
  margin-top: 50px;
}

h2 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
}
h2 a {
  color: rgb(151, 31, 10);
  text-decoration: none;
}
h2 a:hover {
  color: rgb(94, 12, 6);
}

.tile {
  display: inline-block;
  width: 160px;
  height: 160px;
  margin: 5px;
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}
.tile:hover {
  background-color: rgb(220, 220, 240);
}

.tile .inner {
  padding-top: 65px;
  display: inline-block;
}

.tile.active {
  color: rgb(4, 56, 36);
  background-color: rgb(154, 199, 154);
  text-decoration: line-through;
}

.tile.free {
  color: white;
  background-color: rgb(154, 199, 154);
}
